<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageTextLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D028B29A1C85B81800B45629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D028B2B31C85B81900B45629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D028B2BE1C85B81900B45629</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
